$color--black: #0e111b;
$color--black-90: rgba($color--black, 0.9);
$color--black-50: rgba($color--black, 0.5);

$color--white: #fff;
$color--white-60: rgba($color--white, 0.6);
$color--white-50: rgba($color--white, 0.5);
$color--white-30: rgba($color--white, 0.3);
$color--white-10: rgba($color--white, 0.1);
$color--white-5: rgba($color--white, 0.05);

$color--primary: #fdc000;
$color--area: #1c212e;

$tablet: 'all and (max-width: 1280px)';
$mobile: 'all and (max-width: 720px)';

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0 0;
  position: relative;
  @media #{$tablet} {
    padding: 40px 40px 0;
  }
  @media #{$mobile} {
    padding: 40px 20px 0;
  }
}
